GEMINI_API_KEY=
DATABASE_URL=postgresql+asyncpg://shaj:shaj@localhost:5430/contexthubdb
OPENROUTER_API_KEY = 
API_BASE_URL=http://127.0.0.1:8000

POSTGRES_USER=shaj
POSTGRES_PASSWORD=shaj
POSTGRES_DB=contexthubdb