fastapi
uvicorn
SQLAlchemy
aiosqlite
langchain
langchain-community
faiss-cpu
chromadb
google-generativeai
langchain-google-genai
python-dotenv
sentence_transformers
numpy
sentence-transformers
langchain-openai
asyncpg
psycopg2