fastapi
uvicorn
SQLAlchemy
aiosqlite
google-generativeai
python-dotenv
sentence_transformers
asyncpg
requests
httpx
mcp[cli]
pgvector
langchain-core
langchain_community
langchain-openai
langchain-google-genai